.cache/
logs/
dataset/caltech101/
dataset/dtd/
dataset/dtd_ref/
dataset/pets/
dataset/pets_ref/
dataset/aircraft/
dataset/flowers/
dataset/cifar10/
fast-differential-privacy/
# Python bytecode
__pycache__/
*.pyc
